lap
loguru
cython-bbox
norfair
numpy==1.23.3
onnxruntime-gpu==1.12.1
opencv-python==4.5.4.60
scipy
pyyaml
matplotlib
easydict
gdown
pandas
tabulate
typing-extensions==3.10.0.2
wheel
torch
torchvision
numpy==1.23.3
Cython
ultralytics
asone-ocr
motpy